<script setup>
  import { store } from "@/store/store"
  import CardButton from "./CardButton.vue";
</script>

<template>
    <div class="appContent">
        <div class="appContentWrapper">
        <h1>Картины эпохи Возрождения</h1>
        <div class="appContentList">
                <ul class="list">
                    <li class="listItem"  v-for="(item) in store.items" :key="item.title" @click="() => showModal(item)">
                        <div>
                            <img :src='item.image' alt="Картиночка"/>
                            <p class="listItemTitle">{{item.title}}</p>
                            <div class="listItemBuy">
                                <div class="listItemPrice">
                                    <p class="listItemDiscount">{{item.discount}}</p>
                                    <p class="listItemCost">{{item.cost}}</p>
                                </div>    
                                <div @click.stop>         
                                  <CardButton :item="item" />
                                </div>  
                        </div>
                    </div>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</template>




<script>
  export default{
      name: 'AppContent',
      methods:{
         showModal(item) {
            store.selective = item;
            
          },
          clickOnBtn(item) {
            this.isLoading = true;
            setTimeout(() => {
              this.isLoading = false
              item.isInCart = !item.isInCart
            },2000)                      
          }
        }
    } 
</script>

<style scoped>
  footer{
    flex: 0;
  }
  .appContent{
    font-family: "Merriweather", serif;
    display: flex;
  }
  .appContentWrapper{
    margin-left: 352px;
  }
  .appContentList{
    height: 328px;
    width: 280px;
  }
  ul{
    display: flex;
    list-style: none;      
    margin-top: 37px;
  }
 
  nav{ 
    display: flex;
  }
  .listBtn{
    font-family: "Merriweather";
    padding: 0 0;
    background: #403432;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: white;
    display: flex;
    width: 120px;
    height: 48px;
    justify-content: center;
    align-items: center;
  }
  .listItemCost{
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #343030;
    margin-top: 0px;
  }
  .listItemTitle{
    font-family: 'Merriweather';
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #343030;
    width: 220px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }
  .listItem{
    border: 1px solid #E1E1E1;
    margin-left: 32px;
  }
  img{
    width: 280px;
    height: 160px;
    min-width: 100%;
  }
  .listItemBuy{
    display: flex;
    justify-content: space-around;
    height: 48px;
    margin-bottom: 24px;
  }
  p{
    display: block;
  }
  .listItemDiscount{
    text-decoration: line-through;
    font-family: "Merriweather";
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0px;
  }
  .list{
    margin-left: -70px;
  }
  .listItemPriceBtn{
    margin-right: 20px;
    Width: 13.33px;
    height: 9.17px;
  }
</style>