<template>
    <button  class="listBtn" v-on:click="clickOnBtn(item)($event)" v-show="item.cost !== 'Продана на аукционе'"  @click.stop>
        <p v-show="!item.isInCart"><img class="listItemPriceBtn" src="@/assets/icons/Galka.svg" v-if="!isLoading"/></p>
                {{isLoading ? 'Обрабатывается' : item.isInCart? 'Купить' : "В корзине" }}
    </button>   
</template>
  


  
<script>
    export default {
      props: {
        item: Object
      },
      data() {
        return{
          isLoading: false,
          
      }
    },methods:{
      clickOnBtn(item) {
        this.isLoading = true 
        setTimeout(() => {  
          this.isLoading = false
          item.isInCart = !item.isInCart
      },2000)                    
    },
  }
}
</script>

<style>

</style>