<template>
    <footer class="appContent">
      <nav>
          <ul>
            <li><a class="navA" href="/">Каталог</a></li>
            <li><a class="navA" href="/">Доставка</a></li>
            <li><a class="navA" href="/">Оплата</a></li>
            <li><a class="navA" href="/">Контакты</a></li>
            <li><a class="navA" href="/">О компании</a></li>
          </ul>
          <div class="contacts">
            <p><a class="footerContacts" href="tel +78125555555">
                <img src="../assets/icons/phone.svg"/>
                +7 (812) 555-55-55
                </a>
            </p>
            <p>
                <img class="footerContacts" src="../assets/icons/Vector.svg"/>
                г.Санкт-Петербург,ул.Ефимова,3</p>
        </div>
      </nav>
    </footer>
</template>




<script>

  export default{
      name: 'AppContent',
      methods:{
         
      }
  }

</script>

<style scoped>
    footer{
        margin-top: auto;
        background: #ECEAEA;
    }
    .appContent{
        font-family: "Merriweather", serif;
      
    }
    ul{
        display: flex;
        list-style: none;
        margin-left: 400px;
        margin-top: 37px;
        margin-bottom: 37px;
    }
    li{
        padding-left: 48px;
    }
    nav{
        display: flex;
    }
    .contacts{
        margin-left: 120px;
        display: flex;
        margin-top: 22px;
    }
    .footerContacts{
        padding-left: 75px;
        text-decoration: none;
    }
    .navA{
        padding-right: 0;
        text-decoration: none;
        font-family: "Merriweather";
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
    }   
</style>