<script setup>
import {store, initItems} from '../store/store'
</script>

<template>
    <header class="appContent">
        <nav>
            <ul>
                <li><a href="/">Каталог</a></li>
                <li><a href="/">Доставка</a></li>
                <li><a href="/">Оплата</a></li>
                <li><a href="/">Контакты</a></li>
                <li><a href="/">О компании</a></li>
            </ul>
            <form class="form">
                <input                    
                    v-bind:value="inputValue"
                    v-on:input="inputChangeHandler" 
                    class="formInput" 
                    type="text" 
                    placeholder="Поиск по названию картины"/>
                    <button v-on:click="onSearch(store)" class="formBtn" type="button">Найти</button>
            </form>    
        </nav>
      </header>
</template>
  


  
<script>
    let query = '';
    let newStore = [];
    
    export default{
        name: 'AppContent',
        methods:{
            inputChangeHandler(e) {
                query = e.target.value
                return query
            },
            onSearch(store){
                if(query){
                    newStore = store.items.filter(item => item.title.toLowerCase().includes(query.toLowerCase()));
                    store.items = newStore
                }else{
                    store.items = initItems
                }
            }
        }
    }

</script>

<style scoped>
    .appContent{
        font-family: "Merriweather", serif;
    }
    ul{
        display: flex;
        list-style: none;
        margin-left: 400px;
        margin-top: 37px;
    }
    li{
        padding-left: 48px;
    }
    nav{
        align-content: center;
        display: flex;
    }
    .form{
        margin-left: 162px;
        margin-top: 24px;
        margin-bottom: 24px;
        
    }
    button{
        font-family: "Merriweather";
        padding: 13px 36px;
        background: #403432;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        color: white;
        
    }
    input{
        width: 294px;
        background-color: #e5e5e5;
        border: 1px solid #E1E1E1;;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        font-family: "Merriweather";
        height: 48px;
        color: #9F9F9F;
    }
    .formInput{
    height: 48px;
    }
    a{
        text-decoration: none;
    }
    header{
    border-bottom: 1px solid #E1E1E1;
    }
</style>