<script setup>
  import { store } from "@/store/store"
  import CardButton from "./CardButton.vue";  
</script>

<script>
    export default {
      props: {
        show: Boolean
      }
    }
    </script>
    
    <template>
      <Transition name="modal">
        <div v-if="show" class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">
                <img class="modalWrapperImage" :src="store.selective?.image" alt="Картиночка"/>
              <h1>{{store.selective?.title}}</h1>
              <p class="modalWrapperItemDiscount">{{store.selective.discount}}</p>
              <p class="modal-cost">{{store.selective?.cost}}</p>
              <CardButton :item="store.selective"/>
                  <button
                    class="modal-default-button"
                    @click="$emit('close')"
                  >OK</button>
            </div>
          </div>
        </div>
      </Transition>
    </template>
    
    <style>
   h1{
    font-family: "Merriweather"
   }
  .modal-mask {
      position: fixed;
      z-index: 9998;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: table;
      transition: opacity 0.3s ease;
  }
  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  .modalWrapperImage{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .modal-container {
    width: 600px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 5%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
  }
  .modal-header h3 {
    margin-top: 0;
    color: #42b983;
  } 
  .modal-body {
    margin: 20px 0;
  } 
  .modal-default-button {
    float: right;
  }
  .modal-enter-from {
    opacity: 0;
  } 
  .modal-leave-to {
    opacity: 0;
  }
  .modalWrapperItemDiscount{
    text-decoration: line-through;
    font-family: "Merriweather";
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0px;
  }
  .modal-enter-from .modal-container,
  .modal-leave-to .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .listBtn{
    font-family: "Merriweather";
    padding: 0 0;
    background: #403432;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: white;
    display: flex;
    width: 120px;
    height: 48px;
    justify-content: center;
    align-items: center;
  }
  .listItemPriceBtn{
    margin-right: 20px;
    Width: 13.33px;
    height: 9.17px;
  }
  .modal-default-button{
    font-family: "Merriweather";
    padding: 13px 36px;
    background: #403432;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
  }
  .modal-cost{
    font-family: "Merriweather";
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
    </style>