<script setup>
  import { store } from "@/store/store"
</script>

<script>
  import ItemModal from "./ItemModal.vue"
    
  export default {
    components: {
      ItemModal
    },
    data() {
      return {
        showModal: store.selective
      }
    }
  }
</script>
    
  <template>
    <Teleport to="body">
      <ItemModal :show="store.selective" @close="store.selective = null">
        <template #header>
          <h3>custom header</h3>
        </template>
      </ItemModal>
    </Teleport>
  </template>
  
<style scoped>
    
</style>