<script setup></script>

<template>
  <Header />
  <AppContent/>
  <ModalWindow/>
  <Footer /> 
</template>

<script>

import Header from './components/Header.vue'
import Footer from './components/Footer.vue';
import AppContent from './components/AppContent.vue';
import ModalWindow from './components/ModalWindow.vue';





export default {
  name: 'App',
  components: {
    Header,
    Footer,
    AppContent,
    ModalWindow
}
}
</script>



<style>
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

@font-face {

 font-family: "Merriweather";
 src: url("@/assets/Merriweather-Regular.ttf") format("truetype"),
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0px;
  background: #E5E5E5;
}
body{
  margin: 0;
  padding: 0;
}
</style>
